.v-list-container {
  position: relative;
  width: 100%;
  height: 100%;

  .shadow {
    width: 100%;
    height: 12px;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.3s;
  }

  .top-shadow {
    visibility: visible;
    opacity: 0.5;
    top: 0;
    z-index: 999;
    background: linear-gradient(180deg, #38333360 0%, #ffffff60 100%);
  }

  .bottom-shadow {
    visibility: visible;
    opacity: 0.5;
    bottom: 0;
    background: linear-gradient(0deg, #38333360 0%, #ffffff60 100%);
  }

  .infinite-scroll-v-list {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  
    .ant-mobile-list {
      --border-bottom: 0px;
      --border-inner: 0px;
      --border-top: 0px;
  
      :global {
        .adm-list-item {
          padding: 0;
  
          .adm-list-item-content {
            padding: 0;
  
            .adm-list-item-content-main {
              padding: 0;
            }
          }
        }
      }
    }
  }
  
}


.loading-more-tip {
  width: 100%;
  display: flex;
  justify-content: center;

  .loading {
    color: #f2605e;
    font-size: 14px;
  }

  .noMore {
    .line {
      width: 56px;
      height: 1px;
      background-color: #ccc;
      display: inline-block;
      vertical-align: middle;
      margin: 0 12px;
    }
  }
}
